---
const code = `console.log('Hello, world!')`;
import { common, createStarryNight } from "@wooorm/starry-night";
import { toHtml } from "hast-util-to-html";

const starry = await createStarryNight(common);

const scope = starry.flagToScope("js");
const htmlString = toHtml(starry.highlight(code, scope!));
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://esm.sh/@wooorm/starry-night@1/style/both.css"
    />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <pre><code set:html={htmlString} /></pre>
  </body>
</html>

<style>
  code {
    background: #000;
    padding: 1rem;
  }
</style>
